$body-font-size: 16px;

$body-font-family: 'Karla';

$body-bg-color: #1A1A1A;

$body-color: #fff;

$container-with: 1024px;

$h1-font-size: 69px;

$h2-font-size: 50px;

$footer-font-size: 18px;

$numbers-bg-color: #E1C79B;
