<div class="drop-down-menu">
  <div class="container">
    <div class="column first">
      <h5>Clothind</h5>
      <ul>
        <li><a href="">Tops</a></li>
        <li><a href="">T Shirts</a></li>
        <li><a href="">Jeans</a></li>
        <li><a href="">Party Wear</a></li>
        <li><a href="">Formal</a></li>
        <li><a href="">Scarfs</a></li>
      </ul>
    </div>
    <div class="column second">
      <h5>Shoes</h5>
      <ul>
        <li><a href="">Flats</a></li>
        <li><a href="">Oxfords</a></li>
        <li><a href="">Heels</a></li>
        <li><a href="">Boots</a></li>
        <li><a href="">Booties</a></li>
        <li><a href="">Pumbs</a></li>
      </ul>
    </div>
    <div class="column third">
      <h5>Accsessories</h5>
      <ul>
        <li><a href="">Watch</a></li>
        <li><a href="">Necklace</a></li>
        <li><a href="">Earring</a></li>
        <li><a href="">Bag</a></li>
        <li><a href="">Belt</a></li>
        <li><a href="">Other</a></li>
      </ul>
    </div>
    <div class="column fourth">
      <img src="/images/braslet.png" alt="braslet">
      <span>featured</span>
    </div>

  </div>

</div>
