<footer>
  <div class="container">
    <div class="first-column">
      <h5>Check out</h5>
      <ul>
        <li><a href="">Woman</a></li>
        <li><a href="">Men</a></li>
        <li><a href="">Brands</a></li>
        <li><a href="">Collection</a></li>
        <li><a href="">Limited</a></li>
        <li><a href="">Deals</a></li>
      </ul>
    </div>
    
    <div class="second-column">
      <h5>Elegance</h5>
      <ul>
        <li><a href="">About Us</a></li>
        <li><a href="">Our mission</a></li>
        <li><a href="">Vision</a></li>
        <li><a href="">Shipping</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </div>

    <div class="third-column">
      <h5>We are social</h5>
      <ul>
        <li><a href="">Facebook</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">Pinterest</a></li>
        <li><a href="">Google Plus</a></li>
        <li><a href="">Snapchat</a></li>
        <li><a href="">Instagram</a></li>
      </ul>
    </div>

    <div class="forth-column">
      <h5>Subscribe</h5>
      <p>
        Subscribe to our news letter to get
        updates on our latest deals, brands
        and item stocks.
      </p>
      <form class="email" action="index.html" method="post">
        <input type="email" name="" value="" placeholder="Enter your email">
        <button type="submit" name="button">></button>
      </form>
    </div>


  </div>
</footer>
