.button {
  min-width: 195px;
  border: 2px solid #e1c79b;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: #E1C79B;
  padding: 16px 72px;
  border-radius: 35px;
  display: inline-block;
}

.transparent-boarder {
    border: 2px solid rgba(225,199,155,0.14);
  }
