.drop-down-menu {
  display: none;
  position: absolute;
  background-color: #1b1b1b;
  opacity: 1;
  width: 100%;
  left: 0;
  z-index: 1;

  .container {
    display: flex;
    justify-content: space-between;

    ul {
      display: block;
      padding: 0;

    li a{
      color: #808080;
    }

    }

    .column {
      padding-top: 130px;
      padding-bottom: 170px;

      h5 {
        margin-top: 0;
      }

      li{
        display: block;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
        padding-bottom: 20px;
      }

    }

    .fourth {
      position: relative;
    }


    .fourth img {
      padding-top: 20px;
    }

    .fourth span {
      font-size: 12px;
      font-weight: bold;
      line-height: 14px;
      letter-spacing: 1px;
      color: #1B1B1B;
      text-transform: uppercase;
      background-color: #fff;
      padding: 6px 12px;
      position: absolute;
      left: -20px;
      top: 355px;
    }




  }
}
