header {

  .top_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
  }

  .bottom_header > ul {
    display: flex;
    justify-content: space-around;
    padding: 70px 120px 25px;

    > li{
      &:hover {
        .drop-down-menu{
          display: block;
        }
        > a {
          border-bottom: 1px #fff solid;
          z-index: 2;
          position: relative;
          color: #fff;
          padding-bottom: 15px;
        }
      }
    }

    li a {
      color: #808080;
    }
  }

  .top_header .left {
    position: relative;
  }

  .left .numbers {
    position: absolute;
    right: -22px;
    top: -18px;
  }
}
