<div class="cart-page">
  <div class="container">

    <div class="cart">
      <h3>Cart</h3>
      <span>You have 3 items</span>
    </div>

    <form class="" action="index.html" method="post">
      <table>
        <tbody>
          <tr>
            <td class="product-photo"><img src="/images/product4.png" alt=""></td>
            <td class="name-and-price">
              <h4>J'adore - Dior</h4>
              <h5>$140</h5>
              <a href="#" class="remove">remove</a>
            </td>
            <td class="number-of-products">
              <div class="transparent-boarder">
                <a href="#" class="plus">+</a>
                <input type="number" name="number" value="1" class="input">
                <a href="#" class="plus">-</a>
              </div>
            </td>
          </tr>

          <tr>
            <td class="product-photo"><img src="/images/product3.png" alt=""></td>
            <td class="name-and-price">
              <h4>Coco - Chanel</h4>
              <h5>$85</h5>
              <a href="#" class="remove">remove</a>
            </td>
            <td class="number-of-products">
              <div class="transparent-boarder">
                <a href="#" class="plus">+</a>
                <input type="number" name="number" value="2" class="input">
                <a href="#" class="plus">-</a>
              </div>
            </td>
          </tr>

          <tr>
            <td class="product-photo"><img src="/images/product2.png" alt=""></td>
            <td class="name-and-price">
              <h4>Shalimar</h4>
              <h5>$231</h5>
              <a href="#" class="remove">remove</a>
            </td>
            <td class="number-of-products">
              <div class="transparent-boarder">
                <a href="#" class="plus">+</a>
                <input type="number" name="number" value="1" class="input">
                <a href="#" class="plus">-</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="tfoot">
        <div class="first-price">
          <span>Subtotal</span>
          <span class="price">$590</span>
        </div>
        <div class="shipping">
          <span>Estimated Shipping</span>
          <span class="price">free</span>
        </div>

        <div class="total-price">
          <span>Estimated Order Total</span>
          <span class="total">$590</span>
        </div>
      </div>

      <button type="submit" name="button" class="button transparent-boarder">checkout</button>
    </form>


  </div>
</div>
