---
title: Home Page
---

<div class="home">

    <div class="hero">
      <div class="container">

      <h3>
        check out
      </h3>
      <h1>
        Limited Edition Collection
      </h1>
      <a href="#" class="button">shop</a>

      <div class="paginator">
        <span></span>
        <span class="active"></span>
        <span></span>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="content-block">

      <div class="content-top">
        <h2>
          Experience The Luxury
        </h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>

        <a href="#" class="button">explore</a>
      </div>

      <div class="content-bottom">
        <h4>trending now</h4>
        <div class="products">

          <div class="product">
            <a href="#"><img src="/images/product1.png" alt=""></a>
            <div class="product-info">
              <a href="#" class="product-name">Moon Light</a>
              <div class="price">$125</div>
            </div>
          </div>

          <div class="product">
            <a href="#"><img src="/images/product2.png" alt=""></a>
            <div class="product-info">
              <a href="#" class="product-name">J'adore</a>
              <div class="price">$140</div>
            </div>

          </div>

          <div class="product">
            <a href="#"><img src="/images/product3.png" alt=""></a>
            <div class="product-info">
              <a href="#" class="product-name">Coco</a>
              <div class="price">$85</div>
            </div>
          </div>

          <div class="product">
            <a href="#"><img src="/images/product4.png" alt=""></a>
            <div class="product-info">
              <a href="#" class="product-name">Shalimar</a>
              <div class="price">$231</div>
            </div>
          </div>

        </div>
        <a href="#" class="button transparent-boarder">view all</a>
      </div>

    </div>
  </div>

  <div class="container">

    <div class="photos">
      <div class="gallery">
        <img src="/images/gallery-photo-1.png" alt="">
        <img src="/images/gallery-photo-2.png" alt="">
        <img src="/images/gallery-photo-3.png" alt="">
        <img src="/images/gallery-photo-4.png" alt="">
        <img src="/images/gallery-photo-5.png" alt="">
        <img src="/images/gallery-photo-6.png" alt="">
        <img src="/images/gallery-photo-7.png" alt="">
        <img src="/images/gallery-photo-8.png" alt="">
        <img src="/images/gallery-photo-9.png" alt="">
        <img src="/images/gallery-photo-10.png" alt="">
        <img src="/images/gallery-photo-11.png" alt="">
        <img src="/images/gallery-photo-12.png" alt="">
      </div>
      <div class=" view-gallery">
        <a href="#"class="medal">
          <h4>#elegance</h4>
          <div>
            <img src="/images/gallery-badge.png" alt="">
          </div>
        </a>
      </div>
    </div>
    <div class="button-center">
      <a href="#" class="button transparent-boarder">view all</a>
    </div>
  </div>

  <div class="brands">
    <div class="container">
      <ul>
        <li><img src="/images/brand-ETM.svg" alt=""></li>
        <li><img src="/images/brand-DeBuzzy.svg" alt=""></li>
        <li><img src="/images/brand-Meena.svg" alt=""></li>
        <li><img src="/images/brand-Victoria.svg" alt=""></li>
        <li><img src="/images/brand-Fransicz.svg" alt=""></li>
      </ul>
    </div>
  </div>

</div>
